<link rel="import" href="../../d2l-button/d2l-button.html">
<link rel="import" href="../mixins/d2l-sequences-completion-tracking-mixin.html">
<link rel="import" href="d2l-sequences-content-link.html">

<dom-module id="d2l-sequences-content-link-mixed">
	<template>
		<style>
			:host {
				display: block;
				font-family: 'Lato', sans-serif;
				color: var(--d2l-color-ferrite);

				/* Body Text - Lato Regular 19 */
				font-size: 19px;
				line-height: 24px;
				font-weight: 400;
				/* normal */
				letter-spacing: 0.2px;
			}

			.container {
				padding-top: 100px;
				text-align: center;
				width: 550px;
				margin: auto;
			}

			.heading3 {
				/* Heading 3 - Lato Bold 20 */
				font-size: 20px;
				line-height: 30px;
				font-weight: 700;
				/* bold */
				letter-spacing: 0.2px;
			}

			.title {
				color: var(--d2l-color-celestine-plus-1);
				margin-bottom: 10px;
			}

			.open-new-button {
				border-radius: 6px;
				height: 52px;
				margin-top: 50px;
				padding: 0px;
				border: none;
				background: transparent;
			}

			.open-new-button-content {
				width: 300px;
			}
		</style>
		<div class="container">
			<div class="title heading3">
				[[localize('undisplayableContent')]]
			</div>
			<div>
				[[localize('openUnsecureContent')]]
			</div>
			<d2l-button primary class="open-new-button heading3" on-click="_onclick">
				<div class="heading3 open-new-button-content">
					[[localize('openNew')]]
				</div>
			</d2l-button>
		</div>
	</template>
	<script>
		/*
			@extends D2L.PolymerBehaviors.Sequences.LocalizeBehavior
		*/
		class D2LSequencesContentLinkMixed extends D2L.Polymer.Mixins.Sequences.CompletionTrackingMixin() {
			static get is() {
				return 'd2l-sequences-content-link-mixed';
			}
			connectedCallback() {
				super.connectedCallback();
				window.top.scrollTo(0,0);
				this._language = window.document.getElementsByTagName('html')[0]
					.getAttribute('lang');
			}
			disconnectedCallback() {
				const activityEntity = this.entity && this.entity.getSubEntityByClass('activity');
				const isComplete = activityEntity && activityEntity.getSubEntityByClass('completed');

				if( !isComplete ) {
					this._fireToastEvent();
					this.finishCompletion();
				}

				super.disconnectedCallback();
			}
			_fireToastEvent() {
				const href = this._getLinkLocation(this.entity);

				if (href && href.indexOf('dropbox') > -1) {
					const event = new CustomEvent('toast', {
						detail: {
							message: 'There was more to do in the last activity.',
							name: this.entity.properties.title,
							url: this.entity.getLinkByRel('self').href
						},
						bubbles: true,
						composed: true,
					});
					window.dispatchEvent(event);
				}
			}
			_getLinkLocation(entity) {
				try {
					const linkActivity = entity.getSubEntityByClass(D2LSequencesContentLink.contentClass);
					const link = linkActivity.getLinkByRel('about');
					return link.href;
				} catch (e) {
					return '';
				}
			}
			_onclick() {
				const location = this._getLinkLocation(this.entity);
				if (!location) {
					return;
				}

				this.startCompletion();
				return window.open(location);
			}
		}
		customElements.define(D2LSequencesContentLinkMixed.is, D2LSequencesContentLinkMixed);
	</script>
</dom-module>