<link rel="import" href="../mixins/d2l-sequences-router-mixin.html">
<link rel="import" href="d2l-sequences-content-link.html">
<link rel="import" href="d2l-sequences-content-link-mixed.html">
<link rel="import" href="d2l-sequences-content-link-scorm.html">

<dom-module id="d2l-sequences-content-link-router">
	<template></template>
	<script>
		class D2LSequencesContentLinkRouter extends D2L.Polymer.Mixins.Sequences.RouterMixin(getEntityType) {
			static get is() {
				return 'd2l-sequences-content-link-router';
			}

			static get contentClass() {
				return 'link-activity';
			}
		}

		customElements.define(D2LSequencesContentLinkRouter.is, D2LSequencesContentLinkRouter);

		function getEntityType(entity) {
			try {
				const linkActivity = entity && entity.getSubEntityByClass(D2LSequencesContentLink.contentClass);
				if (linkActivity.hasClass(D2LSequencesContentLinkScorm.contentClass)){
					return D2LSequencesContentLinkScorm.is;
				}

				const link = linkActivity.getLinkByRel('about');
				if (link.href.startsWith('https://')) {
					return D2LSequencesContentLink.is;
				} else {
					return D2LSequencesContentLinkMixed.is;
				}
			} catch(e) {
				return D2LSequencesContentLink.is;
			}
		}
	</script>
</dom-module>
