<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../polymer-siren-mixins/siren-entity-mixin.html">
<link rel="import" href="../../d2l-icons/d2l-icon.html">
<link rel="import" href="../../d2l-icons/d2l-icon-button.html">
<link rel="import" href="../../d2l-icons/tier1-icons.html">
<link rel="import" href="../../d2l-icons/tier2-icons.html">
<link rel="import" href="../../d2l-icons/tier3-icons.html">
<link rel="import" href="../../d2l-icons/html-editor-icons.html">
<link rel="import" href="../../d2l-icons/emoji-icons.html">
<link rel="import" href="../../d2l-localize-behavior/d2l-localize-behavior.html">

<dom-module id="d2l-sequences-iterator">
    <template>
        <style>
            :host {
                display: inline-block;
            }
        </style>
        <d2l-icon-button
            id="iteratorButton"
            disabled="[[disabled]]"
            aria-disabled$="[[disabled]]"
            icon="[[icon]]"
            type="button"
            on-click="_onClick"
        >[[localize(iterateTo)]]</d2l-icon-button>
    </template>

    <script>
		/*
			@mixes SirenEntityMixin
            @extends D2L.PolymerBehaviors.LocalizeBehavior
			@demo demos/index.html
        */
        class D2LSequencesIterator extends Polymer.mixinBehaviors(D2L.PolymerBehaviors.LocalizeBehavior, D2L.Polymer.Mixins.SirenEntityMixin(Polymer.Element)) {
            static get is() {
                return 'd2l-sequences-iterator';
            }
            static get properties() {
                return {
                    disabled: {
                        type: Boolean,
                        computed: '_isDisabled(entity)'
                    },
                    icon: {
                        type: String
                    },
                    next: {
                        type: Boolean
                    },
                    previous: {
                        type: Boolean
                    },
                    up: {
                        type: Boolean
                    },
                    link: {
                        type: Object
                    },
                    iterateTo: {
                        type: String,
                        computed: 'getIterateTo()'
                    }
                };
            }
            static get observers() {
                return ['_setLink(entity)']
            }
            connectedCallback() {
				super.connectedCallback();
                this.loadResources(this.resolveUrl('./locales.json'));
			}
            getIterateTo() {
                if (this.next) {
                    return 'iterateToNext';
                }
                else if(this.previous) {
                    return 'iterateToPrevious';
                }
                else if(this.up) {
                    return 'iterateToParent';
                }
            }
            _isDisabled(entity) {
                if (!this.next && !this.previous && !this.up) {
                    return true;
                }
                if (this.next && !entity.getLinkByRel('next-activity')) {
                    return true;
                }
                if (this.previous && !entity.getLinkByRel('prev-activity')) {
                    return true;
                }
                if (this.up && !entity.getLinkByRel('up')) {
                    return true;
                }
                return false;
            }
            _onClick() {
                if (this.link && this.link.href) {
                    this.href = this.link.href;
                }
            }
            _setLink(entity) {
                this.link = null;

                if (this.next) {
                    this.link = entity.getLinkByRel('next-activity');
                }
                else if(this.previous) {
                    this.link = entity.getLinkByRel('prev-activity');
                }
                else if(this.up) {
                    this.link = entity.getLinkByRel('up');
                }
            }
        }
        customElements.define(D2LSequencesIterator.is, D2LSequencesIterator);
    </script>
</dom-module>