<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../polymer-siren-mixins/siren-entity-mixin.html">
<link rel="import" href="../../d2l-content-icons/d2l-content-icons.html">
<link rel="import" href="../localize-behavior.html">
<link rel="import" href="../../d2l-button/d2l-button.html">
<link rel="import" href="d2l-sequences-content-link.html">
<link rel="import" href="../mixins/d2l-sequences-automatic-completion-tracking-mixin.html">
<dom-module id="d2l-sequences-content-link-scorm">
	<template>
		<style>
			:host {
				display: block;
				font-family: 'Lato', sans-serif;
				color: var(--d2l-color-ferrite);

				/* Body Text - Lato Regular 19 */
				font-size: 19px;
				line-height: 24px;
				font-weight: 400; /* normal */
				letter-spacing: 0.2px;
			}

			.container {
				padding-top: 100px;
				text-align: center;
				width: 550px;
				margin: auto;
			}

			.description{
				padding: 20px;
			}

			:host-context([dir="rtl"]) .icon{
				margin-right: 52px;
				margin-left: 0px;
			}

			.icon {
				margin-left: 52px;
				margin-right: 0px;
			}

			.open-new-button {
				border-radius: 6px;
				height: 52px;
				padding: 0px;
				border: none;
				background: transparent;
			}

		</style>
		<div class="container">
			<div class="icon">
				<d2l-scorm-icon></d2l-scorm-icon>
			</div>
			<div class="description">
				[[localize('viewThisActivity')]]
			</div>
			<button class="open-new-button" onClick$="window.open('[[_linkLocation]]')">
				<d2l-button primary="true">
					<div>
						[[localize('goToActivity')]]
					</div>
				</d2l-button>
			</button>
		</div>
	</template>
	<script>
		/*
			@mixes SirenEntityMixin
			@extends D2L.PolymerBehaviors.Sequences.LocalizeBehavior
		*/
		class D2LSequencesContentLinkScorm extends Polymer.mixinBehaviors(
			D2L.PolymerBehaviors.Sequences.LocalizeBehavior,
			D2L.Polymer.Mixins.Sequences.AutomaticCompletionTrackingMixin(
				D2L.Polymer.Mixins.SirenEntityMixin(Polymer.Element)
			)
		) {
			static get is() {
				return 'd2l-sequences-content-link-scorm';
			}
			static get properties() {
				return {
					_linkLocation: {
						type: String,
						computed: '_getLinkLocation(entity)'
					}
				}
			}
			connectedCallback() {
				super.connectedCallback();
				this._language = window.document.getElementsByTagName('html')[0]
					.getAttribute('lang');
			}
			_getLinkLocation(entity) {
				try {
					const linkActivity = this._getSubEntityByClass(entity, D2LSequencesContentLink.contentClass);
					const link = this._getLinkByRel(linkActivity, 'about');
					return link.href;
				} catch(e) {
					return '';
				}
			}
		}
		customElements.define(D2LSequencesContentLinkScorm.is, D2LSequencesContentLinkScorm);
	</script>
</dom-module>
