<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../polymer-siren-mixins/siren-entity-mixin.html">
<link rel="import" href="../mixins/d2l-sequences-automatic-completion-tracking-mixin.html">

<dom-module id="d2l-sequences-content-unknown">
    <template>
        <style>
        </style>
        This content item cannot be rendered.
    </template>
    <script>
		/*
			@mixes SirenEntityMixin
        */
        class D2LSequencesContentUnknown extends D2L.Polymer.Mixins.Sequences.AutomaticCompletionTrackingMixin(
            D2L.Polymer.Mixins.SirenEntityMixin(Polymer.Element)
        ) {
            static get is() {
                return 'd2l-sequences-content-unknown';
            }
        }
        customElements.define(D2LSequencesContentUnknown.is, D2LSequencesContentUnknown);
    </script>
</dom-module>
