<link rel="import" href="../mixins/d2l-sequences-router-mixin.html">
<link rel="import" href="d2l-sequences-content-file-html.html">
<link rel="import" href="d2l-sequences-content-file-download.html">

<dom-module id="d2l-sequences-content-file-router">
	<template></template>
	<script>
		class D2LSequencesContentFileRouter extends D2L.Polymer.Mixins.Sequences.RouterMixin(getElementsByMimeType) {
            static get is() {
                return 'd2l-sequences-content-file-router';
            }

            static get map() {
                return new Map([
                    ['text/html', D2LSequencesContentFileHtml.is],
                    ['application/pdf', D2LSequencesContentFileHtml.is],
                    ['image/bmp', D2LSequencesContentFileHtml.is],
                    ['image/gif', D2LSequencesContentFileHtml.is],
                    ['image/jpeg', D2LSequencesContentFileHtml.is],
                    ['image/png', D2LSequencesContentFileHtml.is],
                    ['image/svg+xml', D2LSequencesContentFileHtml.is]
                ]);
            }

            static get contentClass() {
                return 'file-activity';
            }
        }

        customElements.define(D2LSequencesContentFileRouter.is, D2LSequencesContentFileRouter);

        function getElementsByMimeType(entity) {
            const unknownMimeType = 'd2l-sequences-content-file-download';
            try {
                const fileActivity = entity.getSubEntityByClass('file-activity');
                const file = fileActivity.getSubEntityByClass('file');

                return D2LSequencesContentFileRouter.map.get(file.properties.type) || unknownMimeType;
            } catch(e) {
                return unknownMimeType;
            }
        }
    </script>
</dom-module>
