<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../d2l-polymer-siren-behaviors/store/entity-behavior.html">
<link rel="import" href="../../d2l-link/d2l-link.html">

<dom-module id="d2l-sequences-content-eol-activity-link">
	<template>
		<style>
			:host {
				display: block;
			}

		</style>
		<d2l-link on-click="_onClick">
			[[title]]
		</d2l-link>
		</template>

	</template>
	<script>
		/*
			@extends D2L.PolymerBehaviors.Siren.EntityBehavior
		*/
		class D2LSequencesContentEoLActivityLink extends Polymer.mixinBehaviors([
				D2L.PolymerBehaviors.Siren.EntityBehavior
			],
			Polymer.Element
			) {
			static get is() {
				return 'd2l-sequences-content-eol-activity-link';
			}
			static get properties() {
				return {
					title: {
						type: Object,
						computed: '_getTitle(entity)'
					},
					href: {
						type: String,
						reflectToAttribute: true,
						notify: true
					}
				};
			}

			_onClick() {
				if (this.entity && this.entity.getLinkByRel('self').href) {
					this.href = this.entity.getLinkByRel('self').href;
				}
			}

			_getTitle(entity) {
				return entity && entity.properties && entity.properties.title || '';
			}
		}
		customElements.define(D2LSequencesContentEoLActivityLink.is, D2LSequencesContentEoLActivityLink);
	</script>
</dom-module>
