<link rel="import" href="../../d2l-button/d2l-button.html">
<link rel="import" href="../../d2l-link/d2l-link.html">
<link rel="import" href="d2l-sequences-content-eol-missed.html">
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../d2l-polymer-siren-behaviors/store/entity-behavior.html">
<link rel="import" href="../localize-behavior.html">
<link rel="import" href="d2l-end-of-lesson-image.html">
 <dom-module id="d2l-sequences-content-eol-main">
	<template>
		<style>
			:host {
				color: var(--d2l-color-ferrite);
			}
			.content-eol-main-container {
				text-align: center;
				margin:  68px auto;
			}

			.content-eol-main-container > * {
				margin: 25px 0;
			}

			.missed-count-text {
				color: var(--d2l-color-celestine);
			}
		</style>
		<div class="content-eol-main-container">
 			<template is="dom-if" if="[[!hasMissed]]">
				<d2l-end-of-lesson-image completed></d2l-end-of-lesson-image>
				<h2>
					[[localize('congratulations')]]
				</h2>
				<p>
					[[localize('activitiesFinishedGreatJob')]]
				</p>
				<d2l-button primary on-click="_onClickBack">
					<label>
						[[localize('imDone')]]
					</label>
				</d2l-button>
			</template>
 			<template is="dom-if" if="[[hasMissed]]">
				<template is="dom-if" if="[[!showMissed]]">
					<d2l-end-of-lesson-image></d2l-end-of-lesson-image>
					<h2>
						[[localize('niceWork')]]
					</h2>
					<p>
						[[localize('you')]]
						<d2l-link class="missed-count-text" on-click="_setShowMissed">[[localize('missedActivities','count',missedCount)]]</d2l-link>
						<br/>
						[[localize('noNeedToFinish')]]
					</p>
					<d2l-button on-click="_setShowMissed">
						<label>
							[[localize('showMissed')]]
						</label>
					</d2l-button>
					<d2l-button primary on-click="_onClickBack">
						<label>
							[[localize('imDone')]]
						</label>
					</d2l-button>
				</template>
				<template is="dom-if" if="[[showMissed]]">
					<d2l-sequences-content-eol-missed
						href="{{href}}"
						token="[[token]]"
						return-url="[[returnUrl]]">
					</d2l-sequences-content-eol-missed>
				</template>
			</template>	
		</div>
	</template>
	<script>
		/*
			@extends D2L.PolymerBehaviors.Sequences.LocalizeBehavior
		*/
		class D2LSequencesContentEoLMain extends Polymer.mixinBehaviors([
			D2L.PolymerBehaviors.Siren.EntityBehavior,
			D2L.PolymerBehaviors.Sequences.LocalizeBehavior
		],
		Polymer.Element
		) {
			static get is() {
				return 'd2l-sequences-content-eol-main';
			}
			static get properties() {
				return {
					href: {
						type: String,
						reflectToAttribute: true,
						notify: true,
						observer: '_scrollToTop'
					},
					token: {
						type: String
					},
					returnUrl: {
						type: String,
						value: false
					},
					missedCount: {
						type: Number,
						computed: '_getMissedCount(entity)'
					},
					hasMissed: {
						type: Boolean,
						computed: '_getHasMissed(missedCount)'
					},
					showMissed: {
						type: Boolean,
						value: false
					}
				};
			}

			static get observers() {
				return ['_onActivitySelected(entity)'];
			}

			_scrollToTop() {
				window.top.scrollTo(0, 0);
			}

			_onActivitySelected(entity) {
				if (entity && entity.hasClass('sequenced-activity')) {
					this.showMissed = false;
				}
			}
			_getHasMissed(missedCount) {
				return missedCount !== 0;
			}
			_getMissedCount(entity) {
				if (!entity) return 0;
				return entity.entities.length;
			}
			_onClickBack() {
				if (!this.returnUrl) {
					return;
				}
				if (window.parent === window) {
					window.location.href = this.returnUrl;
					return;
				}

				// If we're in an iframe we need to post a message to do the navigation for us
				window.parent.postMessage(JSON.stringify({
					eventType: 'd2l-sequence-viewer-return',
					returnUrl: this.returnUrl
				}), '*');
			}
			_setShowMissed() {
				this.showMissed = true;
			}
		}
		customElements.define(D2LSequencesContentEoLMain.is, D2LSequencesContentEoLMain);
	</script>
</dom-module>