<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../polymer-siren-mixins/siren-entity-mixin.html">
<dom-module id="d2l-sequences-topic-name">
    <template>
        <style>
            :host {
                display: inline-block;
            }
        </style>
        [[title]]
    </template>

    <script>
		/*
			@mixes SirenEntityMixin
			@demo demos/index.html
	 	*/
        class D2LSequencesTopicName extends D2L.Polymer.Mixins.SirenEntityMixin(Polymer.Element) {
            static get is() {
                return 'd2l-sequences-topic-name';
            }
            static get properties() {
                return {
                    title: {
                        type: Object,
                        computed: '_getTitle(entity)'
                    }
                };
            }
            _getTitle(entity) {
                return entity && entity.properties && entity.properties.title || '';
            }
        }
        customElements.define(D2LSequencesTopicName.is, D2LSequencesTopicName);
    </script>
</dom-module>