<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../polymer-siren-mixins/siren-entity-mixin.html">

<dom-module id="d2l-sequences-content-file-html">
    <template>
        <style>
            iframe {
                width: 100%;
                height: calc(100% - 12px);
                overflow: hidden;
            }
        </style>
        <iframe frameBorder="0" src$="[[_fileLocation]]"></iframe>
    </template>
    <script>
		/*
			@mixes SirenEntityMixin
        */
        class D2LSequencesContentFileHtml extends D2L.Polymer.Mixins.SirenEntityMixin(Polymer.Element) {
            static get is() {
                return 'd2l-sequences-content-file-html';
            }
            static get properties() {
                return {
                    _fileLocation: {
                        type: String,
                        computed: '_getFileLocation(entity)'
                    }
                }
            }
            _getFileLocation(entity) {
                try {
                    const fileActivity = this._getSubEntityByClass(entity, "file-activity");
                    const file = this._getSubEntityByClass(fileActivity, "file");
                    const link = this._getLinkByRel(file, "alternate");
                    return link.href;
                } catch(e) {
                    return '';
                }
            }
        }
        customElements.define(D2LSequencesContentFileHtml.is, D2LSequencesContentFileHtml);
    </script>
</dom-module>
