
<link rel="import" href="../mixins/d2l-sequences-automatic-completion-tracking-mixin.html">
<link rel="import" href="../../d2l-content-icons/d2l-content-icons.html">
<link rel="import" href="../../d2l-button/d2l-button.html">

<dom-module id="d2l-sequences-content-file-download">
	<template>
		<style>
			:host {
				display: block;
				font-family: 'Lato', sans-serif;
				color: var(--d2l-color-ferrite);

				/* Body Text - Lato Regular 19 */
				font-size: 19px;
				line-height: 24px;
				font-weight: 400; /* normal */
				letter-spacing: 0.2px;
			}

			.container {
				padding-top: 100px;
				text-align: center;
			}

			.heading3 {
				/* Heading 3 - Lato Bold 20 */
				font-size: 20px;
				line-height: 30px;
				font-weight: 700; /* bold */
				letter-spacing: 0.2px;
			}

			.title {
				color: var(--d2l-color-celestine-plus-1);
				margin-bottom: 10px;
			}

			.file-icon {
 				width: 90px;
 				height: 120px;
 				margin: 50px auto;
 			}

			.download-button {
				border-radius: 6px;
 				width: 257px;
 				height: 52px;
 				margin-top: 50px;
				padding: 0px;
				border: none;
				background: transparent;
			}

			.download-button-content {
				width: 207px;
 			}
		</style>
		<div class="container">
			<div class="title heading3">
				[[localize('invalidFile')]]
			</div>
			<div>
				[[localize('downloadInvalidFile')]]
			</div>
			<div class="file-icon">
				<d2l-content-icons icon="file"></d2l-content-icons>
			</div>
			<div>
				[[localize('fileSize','size',_fileSize)]]
			</div>
			<template is="dom-if" if="[[_fileLocation]]">
				<form method="get" action$="[[_fileLocation]]">
					<button type="submit" class="download-button">
						<d2l-button primary>
							<div class="heading3 download-button-content">
								[[localize('download')]]
							</div>
						</d2l-button>
					</button>
				</form>
			</template>
		</div>
	</template>

	<script>
		/*
			@extends D2L.PolymerBehaviors.Sequences.LocalizeBehavior
		*/
		class D2LSequencesContentFileDownload extends D2L.Polymer.Mixins.Sequences.AutomaticCompletionTrackingMixin() {
			static get is() {
				return 'd2l-sequences-content-file-download';
			}
			static get properties() {
				return {
					_fileLocation: {
						type: String,
						computed: '_getFileLocation(entity)',
						observer: '_setRawFileSize'
					},
					_language: {
						type: String
					},
					_rawFileSize: {
						type: Number
					},
					_fileSize: {
						type: String,
						computed: '_getHumanFileSize(_rawFileSize)'
					}
				}
			}
			connectedCallback() {
				super.connectedCallback();
				this._language = window.document.getElementsByTagName('html')[0]
					.getAttribute('lang');
			}

			_getFileLocation(entity) {
				try {
					const fileActivity = entity.getSubEntityByClass("file-activity");
					const file = fileActivity.getSubEntityByClass("file");
					const link = file.getLinkByRel("alternate");
					return link.href;
				} catch(e) {
					return '';
				}
			}

			_getHumanFileSize(bytes) {
				const thresh = 1000;
				const units = ['B','kB','MB','GB','TB'];

				let i;
				for (i = 0; Math.abs(bytes) >= thresh && i < units.length - 1; i++) {
					bytes /= thresh;
				}

				const size = parseFloat(bytes.toFixed(1)).toLocaleString(this._language);
				return `${size} ${units[i]}`;
			}

			_setRawFileSize() {
				fetch(this._fileLocation, {
					method: 'HEAD',
					headers: new Headers({
						'Authorization': `Bearer ${this.token}`
					})
				}).then(({headers}) => {
					this._rawFileSize = headers.get('content-length');
				}).catch(err => {
					this._rawFileSize = 0
				});
			}
		}
		customElements.define(D2LSequencesContentFileDownload.is, D2LSequencesContentFileDownload);
    </script>
</dom-module>
